header{
    background-color:rgb(51, 121, 51);
    width:100%;
    color:white;
    padding:2em 2em 2em 2em;
    border:1px solid black;
    display:flex;
    justify-content:space-around;
}

.title{
    text-align: center;
}

.search{
    width:50%;
    margin:auto;
    border:1px solid red;
}
@media (max-width:400px){
    .header{
        padding:2em 2em 2em 2em;
    
    display:flex;
    flex-direction: column;
    justify-content:space-around; 
    }
}